.contentWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.contentWrapper::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}

.thumb {
  position: absolute;
  opacity: 0.05;
  cursor: pointer;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.thumb:hover {
  opacity: 0.4;
}
