@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Mono"), local("IBMPlexMono"),
    url("/public/fonts/IBMPlexMono-Regular.otf") format("otf");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: local("JetBrains Mono"), local("JetBrains Mono"),
    url("/public/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

.decorator::before {
  text-align: end;
  position: absolute;
  left: -58px;
  width: 50px;
  opacity: 0.5;
}

.decorator-h1::before {
  content: "#";
}

.decorator-h2::before {
  content: "##";
}

.decorator-h3::before {
  content: "###";
}
.decorator-h4::before {
  content: "####";
}
