@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

/* radix colors */
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-dark.css";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-plex: "IBM Plex Mono", sans-serif;

    /*
        1. App background
        2. Subtle background

        3. UI element background
        4. Hovered UI element background
        5. Active / Selected UI element background

        6. Subtle borders and separators
        7. UI element border and focus rings
        8. Hovered UI element border

        9. Solid backgrounds
        10. Hovered solid backgrounds

        11. Low-contrast text
        12. High-contrast text
    */

    --color-base-1: var(--sand-1);
    --color-base-2: var(--sand-2);
    --color-base-3: var(--sand-3);
    --color-base-4: var(--sand-4);
    --color-base-5: var(--sand-5);
    --color-base-6: var(--sand-6);
    --color-base-7: var(--sand-7);
    --color-base-8: var(--sand-8);
    --color-base-9: var(--sand-9);
    --color-base-10: var(--sand-10);
    --color-base-11: var(--sand-11);
    --color-base-12: var(--sand-12);

    --color-black-a1: var(--black-a1);
    --color-black-a2: var(--black-a2);
    --color-black-a3: var(--black-a3);
    --color-black-a4: var(--black-a4);
    --color-black-a5: var(--black-a5);
    --color-black-a6: var(--black-a6);
    --color-black-a7: var(--black-a7);
    --color-black-a8: var(--black-a8);
    --color-black-a9: var(--black-a9);
    --color-black-a10: var(--black-a10);
    --color-black-a11: var(--black-a11);
    --color-black-a12: var(--black-a12);

    --color-white-a1: var(--white-a1);
    --color-white-a2: var(--white-a2);
    --color-white-a3: var(--white-a3);
    --color-white-a4: var(--white-a4);
    --color-white-a5: var(--white-a5);
    --color-white-a6: var(--white-a6);
    --color-white-a7: var(--white-a7);
    --color-white-a8: var(--white-a8);
    --color-white-a9: var(--white-a9);
    --color-white-a10: var(--white-a10);
    --color-white-a11: var(--white-a11);
    --color-white-a12: var(--white-a12);

    --color-red-1: var(--red-1);
    --color-red-2: var(--red-2);
    --color-red-3: var(--red-3);
    --color-red-4: var(--red-4);
    --color-red-5: var(--red-5);
    --color-red-6: var(--red-6);
    --color-red-7: var(--red-7);
    --color-red-8: var(--red-8);
    --color-red-9: var(--red-9);
    --color-red-10: var(--red-10);
    --color-red-11: var(--red-11);
    --color-red-12: var(--red-12);

    --color-green-1: var(--green-1);
    --color-green-2: var(--green-2);
    --color-green-3: var(--green-3);
    --color-green-4: var(--green-4);
    --color-green-5: var(--green-5);
    --color-green-6: var(--green-6);
    --color-green-7: var(--green-7);
    --color-green-8: var(--green-8);
    --color-green-9: var(--green-9);
    --color-green-10: var(--green-10);
    --color-green-11: var(--green-11);
    --color-green-12: var(--green-12);

    --color-amber-1: var(--amber-1);
    --color-amber-2: var(--amber-2);
    --color-amber-3: var(--amber-3);
    --color-amber-4: var(--amber-4);
    --color-amber-5: var(--amber-5);
    --color-amber-6: var(--amber-6);
    --color-amber-7: var(--amber-7);
    --color-amber-8: var(--amber-8);
    --color-amber-9: var(--amber-9);
    --color-amber-10: var(--amber-10);
    --color-amber-11: var(--amber-11);
    --color-amber-12: var(--amber-12);
}

@layer base {
    * {
        @apply border-base-6;
    }
    body {
        @apply bg-base-1 text-base-12 text-sm;
    }

    .tiptap,
    .tiptap > div {
        @apply w-full h-full outline-none;
        /*outline: none;
        width: 100%;
        height: 100%;*/
    }

    .tiptap:focus-visible {
        @apply outline-none;
    }
}
